
html {
    color: #eeeeee;
    font-size: 62.5%;
    font-family: "Open Sans", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
}

body{
    padding-top: 80px;
    background-size: auto
    background: url('http://ak3.picdn.net/shutterstock/videos/2070623/thumb/9.jpg') no-repeat center center fixed;
                
}
    
#trailer .modal-dialog {
    margin-top: 200px;
    width: 640px;
    height: 480px;
}

.hanging-close {
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 9001;
}
#trailer-video {
    width: 100%;
    height: 100%;
}
.movie-tile {
    margin-bottom: 20px;
    padding-top: 20px;
}
.movie-tile:hover {
    background-color: #EEE;
    cursor: pointer;
}
.scale-media {
    padding-bottom: 56.25%;
    position: relative;
}
.scale-media iframe {
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
}