/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* -------------------- NAVBAR --------------------------- */

.navbar-brand {
	padding-left: 1em;
	font-size: 1.3em;

}

.login {
	padding-right: 1.4em;
}

.navbar-nav {
	font-size: 1em;
}

.nav-item {
	padding-right: 0.2em;
	padding-left: 0.2em;
}
/* -------------------- HEADER  --------------------------- */

.jumbotron {
     padding-top: 2em;
     padding-right:0;
     padding-left: 0;
}

.title {
    font-family: "Noto Sans Japanese", bold;
    padding-top: 0.7em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
}

.lead-jumbotron {
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.25em;
    padding-bottom: 0.5em;

}

.text-home {
    padding: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.lead {
    padding-left: 1em;
    padding-right: 1em;
}


/* -------------------- BODY ------------------------------ */



/* -------------------- FOOTER ------------------------------ */
