3. The Backend Databases and Applications/P3 - Log Analysis Project/newsdata.sql
3. The Backend Databases and Applications/P3 - Log Analysis Project/newsdata.py
5. Deploying to Linux Servers/course files/.vagrant/machines/default/virtualbox/action_provision
5. Deploying to Linux Servers/course files/.vagrant/machines/default/virtualbox/action_set_name
5. Deploying to Linux Servers/course files/.vagrant/machines/default/virtualbox/creator_uid
5. Deploying to Linux Servers/course files/.vagrant/machines/default/virtualbox/vagrant_cwd
5. Deploying to Linux Servers/course files/Vagrantfile
5. Deploying to Linux Servers/course files/.vagrant/machines/default/virtualbox/private_key
3. The Backend Databases and Applications/P4 - Build an Item Catalog Application/session.py
3. The Backend Databases and Applications/P4 - Build an Item Catalog Application/restaurantmenu.db
1. Programming Fundamentals and the Web/P2 - Build a Portfolio Site/css/style.css
1. Programming Fundamentals and the Web/P2 - Build a Portfolio Site/css/style.css
1. Programming Fundamentals and the Web/P2 - Build a Portfolio Site/css/style.css
3. The Backend Databases and Applications/P4 - Build an Item Catalog Application/japanesefood.db
3. The Backend Databases and Applications/P4 - Build an Item Catalog Application/static/css/bootstrap-grid.min.css
*.css
3. The Backend Databases and Applications/P4 - Build an Item Catalog Application/static/css/bootstrap-grid.min.css
3. The Backend Databases and Applications/P4 - Build an Item Catalog Application/static/js/script.js
3. The Backend Databases and Applications/P4 - Build an Item Catalog Application/templates/contact.html
3. The Backend Databases and Applications/P4 - Build an Item Catalog Application/templates/catalog.html
3. The Backend Databases and Applications/P4 - Build an Item Catalog Application/static/css/bootstrap-reboot.min.css.map
3. The Backend Databases and Applications/P4 - Build an Item Catalog Application/templates/about.html
3. The Backend Databases and Applications/P4 - Build an Item Catalog Application/templates/catalog.html