3. The Backend Databases and Applications/P3 - Log Analysis Project/newsdata.sql
3. The Backend Databases and Applications/P3 - Log Analysis Project/newsdata.py
5. Deploying to Linux Servers/course files/.vagrant/machines/default/virtualbox/action_provision
5. Deploying to Linux Servers/course files/.vagrant/machines/default/virtualbox/action_set_name
5. Deploying to Linux Servers/course files/.vagrant/machines/default/virtualbox/creator_uid
5. Deploying to Linux Servers/course files/.vagrant/machines/default/virtualbox/vagrant_cwd
5. Deploying to Linux Servers/course files/Vagrantfile
5. Deploying to Linux Servers/course files/.vagrant/machines/default/virtualbox/private_key
3. The Backend Databases and Applications/P4 - Build an Item Catalog Application/session.py
3. The Backend Databases and Applications/P4 - Build an Item Catalog Application/restaurantmenu.db