
body {
  min-height: 75rem;
  padding-top: 2rem;
}

.navbar-brand {
	padding-left: 1em;
	font-size: 1.8em;
	
}

.login {
	padding-right: 1.4em;
}

.navbar-nav {
	font-size: 1.2em;
}

.nav-item {
	padding-right: 0.2em;
	padding-left: 0.2em;
}