
/*styling specific for home.html*/
.container-home{
    margin:2em;
}
.jumbotron {
     padding: 0;
}

.title-jumbotron {
    padding: 0.5em;
    padding-top: 1em;
    font-family: "Noto Sans Japanese", bold;
    font-size: 5em;
}
.lead-jumbotron {
    padding: 2em;

}
.text-jumbotron{
    padding: 2em;
}


/*font styling for h1, h3, h2, h3 and h4*/

h1 {
  font-size: 40px;
}

h2 {
  font-style: bold;
}

h3 {
    font-family: "Indie Flower", cursive;
    font-size: 15px;
}

h4 {
    font-family: "Domine", bold;
    font-size: 15px;
}

.title { 
    font-family: "Noto Sans Japanese", bold;
    font-size: 5em;

}

img {
    max-width:100%;

    height:auto;
}

.catalog-menu {
    padding-top: 5em;
    padding-bottom: 1em;
}

/*footer styling*/
.footer {
	display: block;
	text-align: center;
	vertical-align: middle;
	line-height: 10px; 
    padding-top: 3rem;
    padding-bottom: 3rem;
}




