<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Catalog of japanese food">
    <meta name="author" content="Paulina Grunwald">
    <title>We've got some trouble | 404 - Resource not found</title>
    <link href="/static/css/errorpages.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
</head>
<body>
	<div>
		<p class='error'>四0四</p>
	</div>
    <div class="cover">
    	<h1>Resource not found <small>Error 404</small></h1>
    	<p class="lead">The requested resource could not be found but may be available again in the future.</p>
    </div>
    
</body>
</html>
