{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

  <div class="jumbotron container container-main">
    <h1 class="display-3">About</h1>
    <div class="row">
        <div class="col-md-3">
          <img src="../static/img/logo.png" width = "100%" lenght = "100%" class="img-main img-responsive rounded mx-auto d-block">
        </div>
            <div class="col-md-9">
          <p class="lead">This Catalog Web Application is a project related to Udacity Full-Stack Developer Nanodegree. Catalog App provides a list of items within a variety of categories as well as provide a user registration and authentication system. Registered users will have the ability to post, edit and delete their own items.</p>
          <p>This application was built with HTML5, CSS, Bootstrap, Flask, SQLAlchemy, Google and Facebook Oauth2 & APIs.</p>

          <hr class="my-4">
          <p>Source code for this project can be found <a href="https://github.com/paulina-grunwald/Udacity-Full-Stack-Web-Developer-Nanodegree/tree/master/3.%20The%20Backend%20Databases%20and%20Applications/P4%20-%20Build%20an%20Item%20Catalog%20Application">my github profile</a>.</p>
        </div>
      </div>
  </div>


{% endblock %}
