{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1 class="display-3">About</h1>
    <div class="row">
        <div class="col-md-3">
        <img src="../static/img/logo.png" width = "100%" lenght = "100%" class="img-responsive">
        </div>
            <div class="col-md-9">
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        </div>
      </div>
  </div>


{% endblock %}