{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
	<div class=jumbotron>
  	<div class="row">
  		<div class="col-md-6">
  			<h2>Add new Category</h2>
  			<form action="" method="post">
  				<input type="text" maxlength="70" class="form-control" id="name" name="name"
                               placeholder="Name of Category">
  				<br>
  				<button class="btn btn-primary" type="submit">Submit</button>
  				<a href="{{url_for('home')}}">
            <button type="button" class="btn btn-default">Cancel</button>
          </a>	
        </form>
      </div>
    </div
  </div>

{% endblock %}

