<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Catalog of japanese food">
    <meta name="author" content="Paulina Grunwald">
    <title>Japanese Food Catalog app</title>
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar-top.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css')}}"/>

  </head>
  <body>
        {% block content %}
        {% endblock %}
        <footer class="footer">
            <p>&copy; Catalog App, Inc.</p>
        </footer>
    <script src="https://use.fontawesome.com/ccc891835b.js"></script>
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
</body>
</html>
