{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

  <div class="jumbotron container container-main">
    <h1 class="display-3">Contact</h1>
    <div class="row">
        <div class="col-md-3">
        <img src="../static/img/rig.jpg" width = "100%" lenght = "100%" class="img-responsive">
        </div>
            <div class="col-md-9">
          <p class="lead">My name is Paulina Grunwald and although most of my career I worked in Oil&Gas industry i have great passion for programming and web development. I love to code and develop new application and scripts. </p>
          <p>My hobbies: programming, bass guitar, japanese language.</p>

          <hr class="my-4">
          <div class="row" id="contact">
            <div class="col-md-12 col-lg-12 col-sm-12">
                    <p class='text'>If you have any questions about myself or Japanese Food Catalog App please conact me on my e-mail or through my social media :)</p>
                    <div class="contact">
                        <a href="mailto:paulina.grunwald@gmail.com"> <i class="fas fa-envelope fa-3x" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/paulinagrunwald" target="_blank"><i class="fab fa-linkedin fa-3x" aria-hidden="true"></i></a>
                        <a href="https://www.facebook.com/paulina.grunwald" target="_blank"><i class="fab fa-facebook fa-3x" aria-hidden="true"></i></a>
                        <a href="https://github.com/paulina-grunwald" target="_blank"><i class="fab fa-github-square fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>    
            </div>
        </div>
        </div>
      </div>
  </div>


{% endblock %}