{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
	<div class=jumbotron>
  		<div class="row">
  			<div class="col-md-6">
  				<h2>Edit Category</h2>
          <p>Are you sure thay you want to edit {{category.name}}?</p>
  				<form action="" method="post">
            <label for="name">Name:</label>
            <input type="text" maxlength="50" class="form-control" id="name" name="name" value="{{category.name}}">
            <br>
  					<button class="btn btn-primary" type="submit">Save</button>
  					<a href="{{url_for('home')}}">
              <button type="button" class="btn btn-default">Cancel</button>
            </a>	
           </form>
       		</div>
    	</div
  </div>
