<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">Catalog App</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCatalog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portfolio
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownCatalog">
                <a class="dropdown-item active" href="{{url_for('catalog')}}">Catalog</a>
                <a class="dropdown-item" href="{{url_for('')}}">Rice</a>
                <a class="dropdown-item" href="{{url_for('')}}">Seafood</a>
                <a class="dropdown-item" href="{{url_for('')}}">Noodle</a>
                <a class="dropdown-item" href="{{url_for('')}}">Nabe</a>
                <a class="dropdown-item" href="{{url_for('')}}">Meat</a>
                <a class="dropdown-item" href="{{url_for('')}}">Soybean</a>
                <a class="dropdown-item" href="{{url_for('')}}">Sushi</a>
                <a class="dropdown-item" href="{{url_for('')}}">Ramen</a>
                <a class="dropdown-item" href="{{url_for('')}}">Sweets</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
