{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

    <div row="container-fluid">
        <div class="jumbotron">
            <h1 class="title">こんにちは 皆さん!</h1>
            <p class="lead">Welcome to Japanese Food Catalog!</p>
            <img src="https://c1.staticflickr.com/8/7130/13973099102_26ac5db5d3_b.jpg" class="img-fluid" alt="Responsive image">
            <hr class="my-4">
            <p>Japanese cuisine encompasses the regional and traditional foods of Japan, which have developed through centuries of social and economic changes. The traditional cuisine of Japan (和食 washoku) is based on rice with miso soup and other dishes; there is an emphasis on seasonal ingredients..</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{url_for('home')}}" role="button">Discover more!&raquo;</a>
            </p>
    </div>
        
    </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12">
                <p class="lead">Now you can explore Japanese food world! Feel free to add new categories.</p>
                <a href="/catalog">
                    <button class="btn btn-default" role="button">
                        Start Exploring &raquo;
                    </button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}