{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
    <div row="container-fluid container-home">
        <div class="jumbotron">
            <h1 class="display-3 title">こんにちは 皆さん!</h1>
            <p class="lead-jumbotron lead">Welcome to Japanese Food Catalog!</p>
            <img src="https://yoors-media-uploads-adsfairbv.netdna-ssl.com/47505/blog/de-vreemdste-dingen-in-japan-deel-2-1503510246.jpg" class="banner img-fluid d-block mx-auto" width="100%" alt="Japan"/>
            <p class="text-home">Japanese cuisine encompasses the regional and traditional foods of Japan, which have developed through centuries of social and economic changes. The traditional cuisine of Japan (和食 washoku) is based on rice with miso soup and other dishes; there is an emphasis on seasonal ingredients. Side dishes often consist of fish, pickled vegetables, and vegetables cooked in broth. Seafood is common, often grilled, but also served raw as sashimi or in sushi. Seafood and vegetables are also deep-fried in a light batter, as tempura. Apart from rice, staples include noodles, such as soba and udon. Japan also has many simmered dishes such as fish products in broth called oden, or beef in sukiyaki and nikujaga.</p>
            <p class="lead lead-button">
                <a class="btn btn-primary btn-lg btn-discover" href="{{url_for('home')}}" role="button">Discover more!&raquo;</a>
            </p>

        <div>    
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12">
                <p class="lead">Now you can explore Japanese food world! Feel free to add new categories.</p>
                <a href="/catalog">
                    <button class="btn btn-default" role="button">
                        Start Exploring &raquo;
                    </button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}