<!DOCTYPE html>
<html>
<head>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Catalog of japanese food">
  <meta name="author" content="Paulina Grunwald">
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/errorpages.css')}}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}"/>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>
<body> 
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{url_for('home') }}">日本 食べ物 Japanese Catalog App</a>
    </nav>
  </header> 

  <div class="container jumbotron container-main">
    <h1>Japanese Food Catalog app</h1>
    <div class="row">
      <div id="signin" class="col-md-4 col-md-offset-4 well text-center">
        <div class="row">
          <div class="col-md-6 col-xs-6"><p>Login with Google</p></div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <!-- GOOGLE PLUS SIGN IN BUTTON-->
            <div id="signinButton">
              <span class="g-signin"
                data-scope="openid email"
                  data-clientid="304285835572-og1f4jjqkk8qea23nt7pgh4pfp1f2nmg.apps.googleusercontent.com"
                  data-redirecturi="postmessage"
                  data-accesstype="offline"
                  data-cookiepolicy="single_host_origin"
                  data-callback="signInCallback"
                  data-approvalprompt="force">
              </span>
            </div>
            <!--END GOOGLE PLUS SIGN IN BUTTON -->
          </div>
        </div>
      </div>
    </div>
    <div id="result"></div>
  </div>


  <script>
    function signInCallback(authResult) {
      if (authResult['code']) {
        // Hide the sign-in button now that the user is authorized
        $('#signinButton').attr('style', 'display: none');
        // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main category page
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          processData: false,
          data: authResult['code'],
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            // Handle or verify the server response if necessary.
            if (result) {
              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
             setTimeout(function() {
              window.location.href = "/";
             }, 4000);
              
          } else if (authResult['error']) {
        console.log('There was an error: ' + authResult['error']);
      } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
             }
          }
          
      }); 
      } 
      }

  </script>
  <script>
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '1832089767090740',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.2' // use version 2.2
    });
    };
    // Load the SDK asynchronously
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function sendTokenToServer() {
      var access_token = FB.getAuthResponse()['accessToken'];
      console.log(access_token)
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);
       $.ajax({
        type: 'POST',
        url: '/fbconnect?state={{STATE}}',
        processData: false,
        data: access_token,
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
           setTimeout(function() {
            window.location.href = "/catalog";
           }, 4000);
            
        } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
           }
        }
        
    });
      });
    }
  </script>


  <button>
    <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
      <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
    </fb:login-button>
  </button>
  <script src="https://use.fontawesome.com/ccc891835b.js"></script>
  <script src="../static/js/jquery-1.12.4.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
 </body>
 </html>