body,
html{
    font-family: "Titillium Web", sans-serif;
    background-color: white;
    color: black;
    height: 100%;
    width:100%;

}

h3{
    font-family: 'Indie Flower', cursive;
    font-size: 15px; 
}

h4{
    font-family: 'Domine', bold;
    font-size: 15px; 
}

/*styling of header top*/
.htop{
	position: relative;
	text-align: center;
	width: 100%;
	height: 150px;
	min-height: auto;
	background-color: #c1ccdd;
	background-size: cover;
	color:white;
	color: black;
	font-size: 1em;
	padding:3em;

.htop div, #about .container, #contact .container {
	background-color: rgb(0,0,0,6);
	background-color: rgba(0,0,0,6);
	padding: 10px;
	color:white;

}

/*navbar styling*/

}
#minimenu {
    width: 100%;
    background-color: black;
    overflow: hidden;
    height: 30px;
    color:white;
    vertical-align: center;
    border: blue;
    text-decoration: none;
    font-size: 17px;

}

.minimenu a {

  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.minimenu  a:hover {
    background-color: #42d7f4;
    color: black;
 }


.section{
	mix-blend-mode: 100vh;
}
/*styling of content sections*/

#about{
	background-image: url();
	background-size: cover;
}

#projects{
	background-image: url();
	background-size: cover;

}

.contact{
		padding: 10px;
}

.fa {
	padding-right:5px; 
	padding-left:5px;
	color: black;
}

.footer {
	display: block;
	text-align: center;
	vertical-align: middle;
	line-height: 10px; 
}   


li {
    display: inline;
 
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;



@media (max-width: 767px) {
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  #collapsenav {
    clear: both;
  }
}
