body,
html {
    font-family: "Mukta Malar", sans-serif;
    font-family: "Titillium Web", sans-serif;

    background: white;
    color: black;
    height: 100%;
    width: 100%;

}

/*font styling for h1, h3, h2, h3 and h4*/
h1 {
  font-size: 40px;
}

h2 {
  font-style: bold;
}

h3 {
    font-family: "Indie Flower", cursive;
    font-size: 15px;
}

h4 {
    font-family: "Domine", bold;
    font-size: 15px;
}

/*navigation bar styling*/
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background: transparent;
  background-image: none;
  border: 1px solid #333333;
  border-radius: 4px;
}

/*this make the text of the navbar layout out horizontally*/
li {
    display: inline;
}


#main-nav {
  position: fixed;
    top: 0;
  z-index: 9999;
  width: 100%;
  -webkit-transition: height 0.5s, line-height 0.5s; /* Safari */
  transition: height 0.5s, line-height 0.5s;
  color: black;
  
}

#minimenu {

    background: black;
    overflow: hidden;
    height: auto;
    width: 100%; /* Full width */
    vertical-align: center;
    text-decoration: none;
    font-size: 17px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */

}

#minimenu a {
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

#minimenu  a:hover {
    background: #7d7;
    color: black;
 }


/*styling of header top*/
.htop {
	position: relative;
	text-align: center;
	margin-top:45px;
	width: 100%;
	min-height: auto;
	min-height: auto;
	background-image: url(../img/bg_2.jpg); /*add image for main banner*/
	background-size: cover;
	font-size: 1em;
	padding:3em;

}

/*styling of content sections*/
.section {
	mix-blend-mode: 100vh;
}


/*styling for contact section*/
.contact {
		padding: 10px;
}

/*styling for contact icons in contact section*/
.fa {
	padding-right: 10px;
	color: black;
}

/*styles the images in the project section - rounded edges*/
.img-responsive {
  border-radius: 8px;
}

/*add additional padding for project card-blocks in project section*/
.card-block {
  padding-top: 5px;
  padding-bottom: 5px;
}

/*justify all text on the page*/
.text{
  text-align: justify;
}

/*footer styling*/
.footer {
	display: block;
	text-align: center;
	vertical-align: middle;
	line-height: 10px; 
}


/* Add an active class to highlight the current page */
.active {
    background: #4caf50;
}


/* Media query */

@media(min-width: 768px) {
  .htop {
    min-height: 100%;
  }
}

@media (max-width: 768px) {
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  #collapsenav {
    clear: both;
  }
}

