body,
html{
    font-family: "Titillium Web", sans-serif;
    background-color: white;
    color: black;
    height: 100%;
    width:100%;

}

/*font styling for h3 and h4*/
h3{
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
}

h4{
    font-family: 'Domine', bold;
    font-size: 15px;
}

/*styling of header top*/
.htop{

	text-align: center;
	width: 100%;
	height: 150px;
	min-height: auto;
	background-color: #c1ccdd;
	background-size: cover;
	color: black;
	font-size: 1em;
	padding:3em;
}

/*navbar styling*/
/*this make the text of the navbar layed out horizontally*/
li {
    display: inline;
}

#mainNav{
	position: fixed;
  	top: 0;
 	z-index: 9999;
 	width: 100%;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
	color: black;
	
}

#minimenu {
    background-color: black;
    overflow: hidden;
    height: 30px;
    width: 100%; /* Full width */
    vertical-align: center;
    border: blue;
    text-decoration: none;
    font-size: 17px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */

}

#minimenu a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

#minimenu  a:hover {
    background-color: #42d7f4;
    color: black;
 }


.section{
	mix-blend-mode: 100vh;
}
/*styling of content sections*/

#about{
	background-image: url();
	background-size: cover;
}

/*styling for contact section*/
.contact{
		padding: 10px;
}

/*styling for contact icons in contact section*/
.fa {
	padding-right:5px;
	padding-left:5px;
	color: black;
}

/*footer styling*/
.footer {
	display: block;
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
}



/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

/* Media query */

@media (max-width: 767px) {
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  #collapsenav {
    clear: both;
  }
}
